.Landing__container {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
}

.Landing__nav {
  height: 140px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
  padding-top: 100px;

  img {
    height: 90%;
  }
}

.Landing__nav_options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-right: 20px;
}

.Nav__options {
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  font-family: OpenSans;
  border-bottom-style: solid;
  border-color: transparent;
  border-radius: 2px;
  border-width: thin;
  padding:5px 10px;
}

.Nav__options:hover {
  border-color: white;
}

.Landing__CTA {
  text-align: center;
  margin: 100px 30px;

  button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    background: transparent;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background: orange;
  }

}
